/* Header */
.header-container {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlight-1);
  color: white;
  padding: 10px 10px;
  position: sticky;
  top: 0;
  transition: transform 0.3s;
  z-index: 1000;
}
.logo img {
  width: 100px;
  height: auto;
}

.header-container.scrolled {
  transform: translateY(-100%);
}

.right-box {
  display: flex;
  align-items: center;
}

.search-container {
  margin-right: 100px;
}
